body {
  background-color: rgb(206, 207, 207);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.navigation {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 50px;
  background-color: rgb(60, 32, 221);
  border-bottom: solid 4px white;
}

.button {
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 30px;
  border: 2px solid white;
  border-radius: 10px;
  height: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: white;
  background-color: rgb(41, 14, 192);
}

.button:hover {
  border: 2px solid rgb(37, 84, 236);
}

.gamepad {
  line-height: 30px;
  margin-top: 10px;
  margin-right: 20px;
  color: white;
  align-items: center;
  margin-left: auto;
}

.football {
  line-height: 30px;
  margin-top: 5px;
  margin-right: 20px;
  color: white;
  align-items: center;
}

img {
  height: 40px;
}

a {
  text-decoration: none;
  color: inherit;
}